{% extends "base.html" %}
{% load neapolitan %}
{% block content %}

<div>
  <div style="float: right;">
    <a href="{{ create_view_url }}">Add a new {{ object_verbose_name }}</a>
  </div>
  <h4>{{ object_verbose_name_plural|capfirst }}</h4>

</div>

{% if filterset %}
<form action="." method="GET" id="search-form" onchange="this.submit();">
    <div class="grid">
      {{filterset.form}}
    </div>
{% endif %}

  <div id="table-data">
    
    {% if object_list %}
    {% list_objects object_list view request%}
    {% else %}
    <p>No {{ object_verbose_name_plural }} found. 
      <a href="{{ create_view_url }}" role="button">Create one now?</a></p>
      <hr>
      {% endif %}
    </div>

{% if filterset %}  
  </form>
{% endif %}

{% endblock %}
