{% load util %}
{% load neapolitan %}

<style>
    .unbuttoned{
        all:unset;
        border:none;
        cursor: pointer;
    }
</style>
<table role="grid" class="data-table">
    <thead>
    <tr id="object-list-header-row">
    {% for header in headers %}
        {% if header.sorting_value %}
            <th scope="col" role="link">
                <button type="submit" name="sorting" class="unbuttoned"
                        value="{{header.sorting_value}}">{{header.label|safe|capfirst}}</button>
            </th>
        {% else %}
            <th scope="col">
                {{ header.label|capfirst }}
            </th>
        {% endif %}
    {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
    <tr data-viewurl="{{object.actions.View}}">
        {% for field in object.fields %}
        <td>{{ field|linkify|default_if_none:'' }} </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
