{% load static %}
<script src="{% static 'autocomplete.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'autocomplete.min.css' %}"></link>

<input type="hidden" name="{{widget.name}}" {% include "django/forms/widgets/attrs.html" %}>
<input type="text" id="cat-lookup"/>

<script>

var input = document.getElementById('cat-lookup');
var hidden_field = document.getElementById('id_category');

autocomplete({
    input: input,
    fetch: async function(text, update) {
        text = text.toLowerCase();
        // you can also use AJAX requests instead of preloaded data
        var response = await fetch("/inventory/search?boatq=Eng", {
            headers: {'Accept': 'application/json'}
        })
        var suggestions = await response.json();
        options = suggestions.map((obj) => {
             return { label: obj.object_text, value: obj.object_id }
        })
        update(options);
    },
    onSelect: function(item) {
        input.value = item.label;
        hidden_field.value = item.value;
    }
});
</script>
