{% load static %}
<script src="{% static 'autocomplete.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'autocomplete.min.css' %}"></link>

<input type="hidden" name="{{widget.name}}" {% include "django/forms/widgets/attrs.html" %}>
<input type="text" id="lookup-textbox"/>

<script>

var input = document.getElementById('lookup-textbox');

var hidden_field = document.getElementById('{{widget.attrs.id}}');

autocomplete({
    input: input,
    fetch: async function(text, update) {
        var qp = new URLSearchParams();
        qp.set('boatq', text);
        qp.set('content_type', '{{widget.attrs.content_type}}')
        // you can also use AJAX requests instead of preloaded data
        var response = await fetch("/inventory/search?"+qp.toString(), {
            headers: {'Accept': 'application/json'}
        })
        var suggestions = await response.json();
        options = suggestions.map((obj) => {
             return { label: obj.object_text, value: obj.object_id }
        })
        update(options);
    },
    onSelect: function(item) {
        input.value = item.label;
        hidden_field.value = item.value;
    }
});
</script>
